.first
  :kramdown
    We all know that cats love their creature comforts and like nothing better than staying in their own homes. That is why we, at Wags and Whiskers, provide a home visit service which includes feeding, refreshing water and emptying litter trays. There’s lots of love and attention on offer for all those cats and kittens who come in from the garden.

.second
  :kramdown
    #{footer}