.first
  :kramdown
    Wags and Whiskers will ensure your dog has its short or long walk or just a comfort break in the garden, whatever you request. While in our care, we will provide all the love and attention they need, give them treats if allowed, refresh their water and leave them safe and happy in their homes after their playtime.

    We walk up to four dogs each at a time unless your pet needs to exercise on their own. 

.second
  :kramdown
    #{footer}