.services
  %h2
    .text
      Marie and Debbie offer pet services including:
  :kramdown
    We visit your pets at home or they can stay with us in
    our hutches and runs.
  
    We also offer other services like pulling curtains,
    picking up mail and putting out the bins while you're
    on holiday!
.selling_points
  :kramdown
    * Our air-conditioned van keeps your pets cool
    * Reliable, personal and professional service
    * Transportation for your pets anywhere
    * Visits daily, weekly or just occasionally
    * Fully insured and all personnel security checked
    * Peace of mind for you and your pet
    * We are open all the year round
    * Competitive pricing
