!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}
      %title Wags And Whiskers Petcare
      %link{:href => "/stylesheets/front.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %body
    .outer_wrapper
      .wrapper
        .teaser
          .text
            %h1 Wags And Whiskers Petcare
            %p Coming soon