.panel
  :kramdown
    ## Dogs

    Initial consultation Free

    ### Weekdays:

    * House visit, 20 minutes, pop in or a walk around the block £6
    * Additional dogs, same house £1 each extra
    * House visit, 45 minute walk per dog, per visit £8
    * Two dogs, same house, per visit £13

    ### Weekends and Minor Bank holidays

    * House visit, 20 minutes, pop in or a walk around the block £7
    * Additional dogs, same house £2 each extra
    * House visit, 45 minute walk per dog, per visit £10
    * Two dogs, same house, per visit £16
    * Dog sitting with us, per dog, per day £15
      * Additional dogs, same house, per dog, per day £10
      * Overnight counts as two days

    Christmas Day, Boxing Day and New Year’s Day are charged at double the weekday rate.

    10% discount is available for block bookings of 10 days or more.

    10% discount is also available for pets’ parents aged 65 years young or older.
    
    ## Cats

    Initial consultation Free

    * House visit, one or two cats, once per day £6
    * House visits, one or two cats, twice per day £10
    * Additional cats, same house £1 each extra

    Each visit includes feeding, refreshing water and emptying litter trays.

    Christmas Day, Boxing Day and New Year’s Day are charged at double the weekday rate.

    10% discount is available for block bookings of 10 days or more.

    10% discount is also available for pets’ parents aged 65 years young or more.

    ## Small Animals

    * House visit, one cage, once per day £6
    * House visits, as above, twice per day £10
    * Additional cage, same house, same visit £2 extra
    * Chickens are charged as above for a daily visit £6
    * Two visits per day £10
    * Staying with us, one cage, per day, £4
      * (number of pets per cage depends on species)
      * Additional cage, per day £1 extra


    Christmas Day, Boxing Day and New Year’s Day are charged at double the weekday rate.

    10% discount is available for block bookings of 10 days or more.

    10% discount is also available for pets’ parents aged 65 years young or older.

    Hutch and cage cleaning services are available, small £3, medium £4, large £5.

    For all other pets, please Email to <info@wagsandwhiskerspetcare.co.uk> or telephone us at 07808 646088 and 07808 646089.