.first
  :kramdown
    Wags and Whiskers also care for small pets including rabbits, guinea pigs, gerbils, hamsters, ferrets, mice and rats, chickens, birds and fish, and even pigs! We will consider any unusual pets. We can visit your home once or twice a day or, if it is more convenient for you, your pets can be cared for at our homes in our own hutches and runs.

.second
  :kramdown

    * Click here to go straight to the [Pricing Page](/pricing)
    
    #{footer}